*{
    margin:0;
    padding:0;
}
ul{
    list-style-type:none;
}
a{
    text-decoration:none;
}
body{
    background-color: #f5f5f5;
}
header{
    position:fixed;
    top:0;
    background-color:#fff;
    width:100%;
    z-index:1000;
    height:80px;
    background: #fff;
}
.header_logo{
    display: inline-block;
    margin:18px 45px 18px 25px;
    float:left;
}
.header_logo>img{
    width:121px;
}
.cblack{
    width:1202px;
    margin:0 auto;
    position: relative;
}
.cblack:after{
    clear:both;
    content:"";
    display:block;
}
.header_nav{
    height:80px;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    display:-webkit-flex;
    display:-ms-flexbox;
    float:left;
    margin-left:240px;
}
.nav>li{
    float:left;
}
.nav>li>a{
    color:#333;
    display:block;
    padding:30px 28px;
}
.nav>li>a:hover{
    color:#f8b600;
    background: transparent;
}
.nav>li>.list{
    padding:30px 30px 30px 20px;
    background:url(../img/14170702vg5m.png) 92px no-repeat;
}
.drop{
    position: absolute;
    left:0;
    height:170px;
    padding-top:30px;
    top:80px;
    box-shadow:0 1px 5px 1px rgba(0,0,0,0.08);
    width:100%;
    margin:0 auto;
    display: none;
    background: #fff;
}
.ejdh{
    width:1202px;
    margin:0 auto;
    border:1px solid transparent;
}
.ejdh:after{
    display: block;
    content: "";
    clear: both;
}
.dropdown-list{
    width:1145px;
    margin-left:55px;
    float:left;
}
.dropdown-list>ul>li{
    float:left;
    margin-right:60px;
    margin-bottom:20px;
    width:310px;
    height:64px;
}
.dropdown-list>ul>li>a{
    display: block;
    padding-left:12px;
    position: relative;
    border-radius: 10px;
}
.dropdown-list>ul>li>a:hover{
    background: #f5f5f5;
}
.dropdown-list>ul>li>a>span{
    display: block;
    width:40px;
    height:40px;
    border-radius: 5px;
    position: absolute;
    top:5px;
    left:5px;
    text-align:center;
    line-height:40px;
}
.dropdown-list>ul>li>a>span>i{
    font-size:30px;
    color:#fff;
}
.dropdown-list>ul>li>a>h3{
    font-size:16px;
    color:#333;
    margin-left:50px;
    font-weight:400;
    position: relative;
}
.dropdown-list>ul>li>a>h3>.free{
    font-weight: 300;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 55px;
    top: 0;
    width: 40px;
    font-size: 12px;
    height: 20px;
    text-align:center;
    line-height: 20px;
    color: #FFF;
    display: block;
    background-image: linear-gradient(135deg,#F23673 0,#FF9466 100%);
    border-radius: 3px;
}
.dropdown-list>ul>li>a>h3>.hot{
    background:url(../img/chanpinhot_9644b4c.png) no-repeat center;
    position: absolute;
    top:-23px;
    left:47px;
    height:63px;
    width:63px;
    background-size:100% 100%;
}
.dropdown-list>ul>li>a>h3>.hot1{
    background:url(../img/chanpinhot_9644b4c.png) no-repeat center;
    position: absolute;
    top:-23px;
    left:64px;
    height:63px;
    width:63px;
    background-size:100% 100%;
}
.dropdown-list>ul>li>a>p{
    font-size:14px;
    color:#999;
    line-height:30px;
    margin-left:50px;
}
.bg1{
    background:#ff7673;
}
.bg2{
    background:#518be3;
}
.bg3{
    background:#7275f4;
}
.bg4{
    background:#fcc849;
}
.bg5{
    background:#F6516F;
}
.bg6{
    background:#77c5ee;
}
.dl{
    height:80px;
    position: relative;
    right:8px;
    top:0;
    width:195px;
    float: right;
}
.header_btn{
    height:80px;
    margin:0 auto;
    position: relative;
    line-height:80px;
    float:right;
}
.line{
    border-left:1px solid #ccc;
    height:20px;
    display: inline-block;
    padding-left:25px;
    vertical-align: middle;
}
.login_btn{
    color:#333;
    font-weight:400;
    margin-right:20px;
    display: inline-block;
}
.reg_btn{
    border-radius: 4px;
    border:1px solid #f8b600;
    background-color:#f8b600;
    color:#fff;
    display: inline-block;
    width:98px;
    height:34px;
    line-height:34px;
    text-align: center;
    font-size:14px;
}
.login_btn:hover{
    color:#f8b600;
}
.reg_btn:hover{
    background-color:#f89800;
}
.sbanner{
    width:100%;
    position: relative;
    border-top:80px solid transparent;
}
.banner-wrap{
    height:500px;
}
.banner{
    height:500px;
    position: relative;
    overflow:hidden;
}
.slide{
    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
}
.item1>img{
    height:100%;
    width:100%;
}
.item1>a{
    display:block;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.item1>a>img{
    position: absolute;
    left:50%;
    bottom:0;
    transform:translateX(-40%);
    height:500px;
}
.item1{
    
    z-index:3;
}
.item2{
    background:url(../img/pc_Ban09_d6425f8.jpg) no-repeat;
    background-size:cover;
    
    z-index:3;
}
.item3{
    background-image: url(../img/pc_Ban10_dd3c437.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    z-index:3;
}
.item4{
    background-image: url(../img/pc_Ban11_4a4d275.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    z-index:3;
}
.item5{
    background-image:url(../img/pc_Ban12_dd4f912.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    z-index:3;
}
.up{
    z-index:4 !important;
    opacity:1 !important;
    transition:all 800ms ease;
}
.down{
    opacity:0!important;
    transition:all 800ms ease;
}
.slideCons{
    width:1200px;
    margin:0 auto;
    height:100%;
    position: relative;
}
.tu{
    position: absolute;
    width:100%;
    height:100%;
}
.tu img{
    height:500px;
    width:auto;
    position: absolute;
    top:0;
    left:606px;
}
.product-title{
    position: absolute;
    left:190px;
    top:123px;
    width:420px;
    text-align: center;
    font-weight: 400;
    color: #333;
    margin: 0;
    padding: 0;
}
.product-title figcaption{
    font-size:50px;
    font-weight: 300;
    margin-bottom:25px;
    text-align:left;
    margin-left:90px;
}
.cfff{
    color:#fff;
}
.product-title p{
    text-align:left;
    margin-left:90px;
    font-weight: 300;
    font-size:18px;
    line-height:30px;
    letter-spacing: 2px;
}
.btn-ysc{
    background-color:#fff;
    display: block;
    color:#4d91ff;
    position: absolute;
    top:340px;
    left:278px;
}
.btn100{
    height:34px;
    width:98px;
    text-align:center;
    line-height:34px;
    font-size:14px;
    border-radius: 4px;
    border:1px solid transparent;
}
.btn1-ysc{
    background-color:transparent;
    color:#fff;
    border:1px solid #fff;
    position: absolute;
    top:340px;
    left:395px;
}
.btn1-ysc:hover{
    background-color:#fff;
    color:#4d91ff;
}
.btn-ydh{
    background: #fff;
    color: #f8a63e;
    position: absolute;
    top: 340px;
    left: 278px;
}
.btn1-ydh{
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    position: absolute;
    top: 340px;
    left: 395px;
}
.btn1-ydh:hover{
    background: #fff;
    color:#f8a63e;
}
.btn-o2o{
    background: #fff;
    color: #ff7f00;
    position: absolute;
    top: 340px;
    left: 278px;
}
.btn1-o2o{
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    position: absolute;
    top: 340px;
    left: 395px;
}
.btn1-o2o:hover{
    background:#fff;
    color:#ff7f00;
}
.banner-tab{
    position: absolute;
    left:50%;
    top:0;
    margin-left:-600px;
    width:190px;
    display:flex;
    display:-webkit-flex;
    display: -ms-flexbox;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items:center;
    overflow:hidden;
    z-index:10;
}
.kb{
    background-color:#fff;
    width:100%;
    position: relative;
    display: block;
    padding:21px 0;
    height:auto;
    cursor: default;
    overflow:hidden;
}
.item{
    height:24px;
    background-color:#fff;
    cursor: default;
    overflow: hidden;
    width:100%;
    position: relative;
    left:0;
    display: block;
    padding:30px 0;
}
.bj1{
    display:flex;
    justify-content:center;
    align-items:center;
}
.btm{
    opacity: 0.8;
    transition:all 800ms;
}
.item>p{
    font-size:16px;
    line-height:38px;
    color:#777;
    font-weight:300;
}
.banner-tab a:nth-child(2){
    padding:28px 0;
}
.item>i{
    width:30px;
    height:30px;
    border-radius:3px;
    color:#fff;
    text-align:center;
    line-height:30px;
    float:left;
    display: block;
    margin:-5px 20px 0px 40px;
    font-size:24px;
    position: relative;
}
.icon-yunshangcheng{
    background-color:#FF7673;
}
.icon-dianpu_{
    background-color:#FCC849;;
}
.icon-yundinghuo{
    background-color:#518BE3;
}
.icon-headquarter{
    background-color: #F6516F;
}
.item>span{
    color:#777;
    line-height:20px;
}
#ri{
    display:block;
    width:20px;
    height:20px;
    position: absolute;
    left:24px;
    top:-14px;
    z-index:99;
    background:url(../img/bannerhot_ce8087c.png) no-repeat center;
    background-size:contain;
}
.xls{
    width: 1202px;
    margin: 0 auto;
    border: 1px solid transparent;
}
.bt{
    font-size: 24px;
    color: #333;
    margin: 60px 0 15px;
    text-align: center;
}
.mt40{
    margin-top:40px;
}
.mb40{
    margin-bottom:40px;
}
.cb:after{
    content:"";
    clear:both;
    display: block;
}
.mt40>li{
    float:left;
    width:390px;
    height:345px;
    text-align:center;
    margin-right:10px;
    transition:all 200ms linear;
    background-color:#fff;
}
.mt40>li:hover{
    margin-top:-2px;
    box-shadow:0 0 10px rgba(0,0,0,0.1); 
}
.mt40>li>a{
    display:block;
}
.mt40>li>a>img{
    margin:25px auto;
    border:0;
    display:block;
}
.mt40>li>a>p{
    margin-top: 15px;
    line-height: 22px;
    color:#999;
}
.hy{
    width: 1202px;
    margin: 0 auto;
    border: 1px solid transparent;
}
.content{
    padding: 10px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    height: auto;
    border-radius:4px;
    overflow: hidden;
}
.content:after{
    content:"";
    clear:both;
    display:block;
}
.content>li{
    width: 270px;
    height: 220px;
    float: left;
    margin-right: 34px;
    margin-bottom: 35px;
    transition: all .2s linear;
    background: #fff;
}
.content>li:nth-child(4n+4){
    margin-right:0;
}
.content>li:hover{
    margin-top:-5px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.content>li>a{
    width: 100%;
    position: relative;
    display: block;
}
.content>li>a>img{
    width:100%;
    height: 166px;
    display: block;
}
.content>li>a>p{
    height: 54px;
    line-height: 54px;
    text-align: center;
    width: 100%;
    display: block;
    color: #333;
}
.dt{
    width:1202px;
    margin:0 auto;
    border: 1px solid transparent;
}
.bt1{
    padding-bottom:40px;
    padding-top:60px;
    text-align:center;
    font-size:24px;
    color:#333;
}
.pt{
    background-color:#fff;
}
.pt>img{
    width:598px;
    height:334px;
    border:0;
    display: block;
    float:left;
}
.news{
    padding: 40px 0 0 40px;
    width: 554px;
    float:left;
}
.news h3{
    margin-bottom: 20px;
    color:#333;
    font-weight:400;
    font-size:100%;
}
.news p{
    line-height: 30px;
    color: #999;
}
.more{
    display: block;
    margin-top: 30px;
    color:#666;
}
.more:hover{
    color:#f8a63e;
}
.mt>a{
    color: #999;
}
.mt>a:hover{
    color:#f8a63e;
}
.dt .swiper-container-horizontal>.swiper-pagination-bullets{
    bottom:10px;
    width:7%;
    left:1098px;
}
.swiper-pagination-bullet{
    width:10px;
    height:10px;
    background: #000;
}
.block-wrap{
    padding: 10px 80px 50px;
    display: flex;
    justify-content: space-between;
}
.box{
    width: 155px;
    height: 180px;
    text-align: center;
    font-weight: 400;
    position: relative;
}
.box i{
    font-size: 90px;
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 16px;
}
.box i.c1{
    color:#0078d3;
}
.box i.c3{
    color: #1bc3bb;
}
.box i.c4{
    color: #fe5f4f;
}
._icon-mac_download{
    background:url(../img/mac_15a982e.png) no-repeat center center #999;
    background-size: 65%;
    border-radius: 100%;
    width: 90px;
    height: 90px;
}
.float{
    background-color:#fff;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display:none;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.17);
}
.btn{
    color: #fff;
    background: #f8b600;
    margin-top: 60px;
    display: inline-block;
}
.float>img{
    margin: 40px auto 0;
    height:100px;
    width:100px;
}
footer{
    height:100%;
    background-color: #373D44;
}
.footer{
    padding:60px 0 40px 0;
    width:1202px;
    margin:0 auto;
    border:1px solid transparent;
}
.footer_about{
    width: 227px;
    padding-left: 70px;
    float:left;
}
.footer h3{
    font-weight:400;
    font-size: 18px;
    color: #EBEBEB;
    padding-bottom: 13px
}
.footer a{
    display: inline-block;
    text-align: left;
    font-size: 14px;
    color: #CCC;
    margin-bottom: 5px;
}
.footer a:hover{
    color:#fff;
}
.left{
    float:left;
}
.w80 li{
    width:80px;
}
.w80:after{
    content:"";
    clear:both;
    display: block;
}
.footer_produce{
    margin-right:155px;
    float:left;
}
.footer_contact{
    float:left;
}
.footer:after{
    content:"";
    display: block;
    clear:both;
}
.footer p{
    font-size: 14px;
    color: #CCC;
    margin-bottom: 6px;
    text-align: left;
}
.footer_code{
    float:right;
    width: 225px;
    text-align: center;
}
.footer_code>.qm_code{
    background:url(../img/erweima_43a674d.jpg) no-repeat center;
    height:90px;
    background-size:contain;
}
.footer_code>.slogan{
    margin-top: 15px;
    letter-spacing: 1px;
    color: #CCC;
}
.copy{
    width:1202px;
    margin:0 auto;
    border-top: 1px solid #4B4F55;
    padding: 25px 0;
    text-align: center;
    font-size:12px;
    color:#999;
}
.copy a{
    color:#999;
}
footer{
    padding-top:60px;
}